/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 12px;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.josh-container {
	width: 250px;
	margin: auto;

}

.project-fund-request {
	height: 50px;
	position: relative;
	background-color: #424242;
	color: white;
	border-radius: 2.5px;
	text-align: center;
	padding: 20px 0;
}

.project-fund-request:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 85px;
    width: 0;
    height: 0;
    border-top: solid 5px #424242;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}

.progress-bar {
		width: 100%;
		margin-top: 10px;
		border: 1px solid #eaeaea;
}

.completed {
	width: 75%;
	height: 10px;
	background-color: #EF5F3C;
}

.details {
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 15px 15px 15px 15px;
}

.details p {
	/* margin-bottom: 8px;  */
	margin-bottom: 10px;
	/* border: 1px solid #eaeaea; */
}

.orange {
	color: #EF5F3C;
}

.blue {
	color: #20A1D4;
}

.donation-amount {
	width: 50px;
}

.currencyinput {
    border: 0 inset #ccc;
		font-size: 14px;
}
.currencyinput input {
    border: 0;
		font-size: 14px;
		/* width: 100%; */
}

.donation-box {
	border: 1px solid #eaeaea;
	height: 50px;
	display: inline-block;
	border-radius: 3px;
	padding: 15px 5px 15px 5px;
	width: 46%;
	text-align: center;
}

.give-btn {
	float: right;
	height: 50px;
	padding: 5px 18px 5px 18px;
	background-color: #1CBC2C;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	color: white;
	font-size: 14px;
	width: 46%;
}

.why-give50 {
	margin-top: 10px;
}

.save-for-later {
	background-color: white;
	height: 35px;
	padding: 5px 18px 5px 18px;
	border: 1px solid #eaeaea;
	border-bottom-width: 2px;
	border-radius: 3px;
	color: #777;
	font-size: 12px;
	width: 46%;
}


.tell-your-friend {
	float: right;
	background-color: white;
	height: 35px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #eaeaea;
	border-bottom-width: 2px;
	border-radius: 3px;
	color: #777;
	font-size: 12px;
	width: 46%;
}

.actions {
	margin-top: 12px;
}
